<div class="mxn1 mb1 h5">
  <span class="button button-narrow button-transparent gray">名簿</span>
</div>

<div class="overflow-scroll">
  <table class="table-light overflow-hidden rounded h3">
    <thead class="bg-darken-1">
      <tr>
        <th class="center">
          親
        </th>
        <th class="center">
          子供
        </th>
      </tr>
    </thead>
    <tbody>
      <% children.each do |child| %>
        <%= render partial: 'user/list', locals: {child: child, mother: child.mother} %>
      <% end %>
    </tbody>
  </table>
</div>
