<h1>user#index</h1>

<% children.each do |child| %>
  <p>
  <%= child.nickname %>
  ,
  <a href='<%= child.mother.id %>'><%= child.mother.first_name %>(<%= child.mother.first_name_ruby %>)さん</a>
  </p>
<% end %>
