<h1>user#show</h1>
<% if user %>
  <p>
    #<%= user.id %>, <%= user.name %>
  </p>
<% else %>
  <% if params[:id] %>
    <p>id:<%= params[:id] %> is not available</p>
  <% elsif params[:name] %>
    <p>name:<%= params[:name] %> is not available</p>
  <% else %>
    <p>Invalid URL</p>
  <% end %>
<% end %>
