<h1>Welcome to Lotus!</h1>
<h3>This template is rendered by <code>Announce::Views::Home::Index</code> and it's available at: <code>apps/announce/templates/home/index.html.erb</code></h3>

<p><%= time %></p>
<p><%= hoge %></p>
<p><%= ENV['PTA_DATABASE_URL'] %></p>
