<div class="mxn1 mb1 h5">
  <a href="/" class="button button-narrow button-transparent blue">
    <i class="fa fa-home"></i>
  </a>
</div>

<div class="flex">
  <button type="button" class="button button-big h3 mb2 rounded flex-auto">
    <a href="article/" class="white">
      <i class="fa fa-folder-open-o"></i>
      連絡
    </a>
  </button>
</div>
<div class="flex">
  <button type="button" class="button button-big h3 mb2 rounded flex-auto">
    <a href="user/" class="white">
      <i class="fa fa-list-alt"></i>
      名簿
    </a>
  </button>
</div>

<!--
<hr>
<% params.env.each do |key,val| %>
  <p>params.env['<%= key %>'] = "<%= val %>"</p>
<% end %>

<% ENV.each do |key,val| %>
  <p>ENV['<%= key %>'] = "<%= val %>"</p>
<% end %>
-->
