<div class="flex">
  <button type="button" class="button button-big h3 mb2 rounded flex-auto">
    <a href="article/" class="white">連絡</a>
  </button>
</div>
<div class="flex">
  <button type="button" class="button button-big h3 mb2 rounded flex-auto">
    <a href="user/" class="white">名簿</a>
  </button>
</div>

<!--
<hr>
<% params.env.each do |key,val| %>
  <p>params.env['<%= key %>'] = "<%= val %>"</p>
<% end %>

<% ENV.each do |key,val| %>
  <p>ENV['<%= key %>'] = "<%= val %>"</p>
<% end %>
-->
