<div class="mxn1 mb1 h5">
  <a href="/" class="button button-narrow button-transparent blue">
    <i class="fa fa-home"></i>
  </a>
  /
  <span class="button button-narrow button-transparent gray">
    <i class="fa fa-list-alt"></i>
  </span>
</div>

<div class="overflow-scroll">
  <table class="table-light overflow-hidden rounded border h4">
    <thead class="bg-darken-1">
      <tr>
        <th class="center">
          <i class="fa fa-female"></i>
        </th>
        <th class="center">
          <i class="fa fa-child"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <% children.each do |child| %>
        <%= render partial: '/users/list', locals: {child: child, mother: child.mother} %>
      <% end %>
    </tbody>
  </table>
</div>
