<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/basscss/v6.1.6/css/basscss.min.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome/4.3.0/css/font-awesome.min.css" />
    <title>Lotus-PTA</title>
  </head>
  <body>
    <header>
      <div class="p2 gray bg-navy clearfix h2">
        <div class="left">
          <a href='<%= routes.path(:home) %>' class="gray">
            <i class="fa fa-navicon"></i>
          </a>
        </div>
        <div class="right">
          <i class="fa fa-gear"></i>
        </div>
        <div class="overflow-hidden center">
          あいうえお組
        </div>
      </div>
    </header>
    <main class="flex-auto p2">
      <%= yield %>
    </main>
    <footer class="p2 gray flex flex-center">
      <div class="flex-auto"></div>
      <div>Created by taturou@gmail.com</div>
    </footer>

    <script src="/javascripts/zepto/v1.1.6/zepto.min.js"></script>
    <script src="/javascripts/pta.js"></script>
  </body>
</html>
