<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/basscss.min.css" />
    <title>Web</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
