<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/basscss/v6.1.6/css/basscss.min.css" />
    <title>Web</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
