<div class="mxn1 mb1 h5">
  <a href="/" class="button button-narrow button-transparent blue">
    <i class="fa fa-home"></i>
  </a>
  /
  <span class="button button-narrow button-transparent gray">
    <i class="fa fa-folder-open-o"></i>
    連絡
  </span>
</div>

<% articles.reverse.each do |article| %>
  <div class="flex">
    <div class="m0 gray">
      <%= article.created_at.strftime("%Y/%m/%d %H:%M") %>
    </div>
  </div>
  <div class="flex h4 mb1">
    <div class="flex-auto border rounded p1">
      <a href='<%= article.id %>'><%= article.title %></a>
    </div>
  </div>
<% end %>
